{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block main %}
<h2 class="m-3">{% translate "Tasks" %}</h2>

<a class="btn btn-primary m-3" href="{% url 'tasks:create' %}">{% translate "Create task" %}</a>

<div class="card mb-3">
    <div class="card-body bg-light">
        <form method="get" class="form-inline center">
            {% bootstrap_form filter.form %}
            
            <input class="btn btn-primary m-3" type="submit" value="{% translate  'Show' %}"/>

        </form>
    </div>
</div>

<table class="table table-striped">
<tr>
    <th>ID</th>
    <th>{% translate "Name" %}</th>
    <th>{% translate "Status" %}</th>
    <th>{% translate "Author" %}</th>
    <th>{% translate "Executor" %}</th>
    <th>{% translate "Creation date" %}</th>
    <th></th>
    {% for task_data in filter.qs %}
    <tr>
        <td>{{ task_data.id }}</td>
        <td><a href="{% url 'tasks:detail' task_data.id %}">{{ task_data.name }}</a></td>
        <td>{{ task_data.status }}</td>
        <td>{{ task_data.author }}</td>
        <td>{{ task_data.executor }}</td>
        <td>{{ task_data.created_at|date:"d.m.Y H:i" }}</td>
        <td>
            <a href="{% url 'tasks:update' task_data.id %}">
            {% translate "Update" %}
            </a>
        <br>
            <a href="{% url 'tasks:delete' task_data.id %}">{% translate "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
</tr>
</table>
{% endblock %}
